# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Panda
3. Seaborn
4. SciPy

|Data Science Tools|
|---|
| Apache Spark|
| Hadoop |
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
numofhours=200/60
print(numofhours)

3.3333333333333335

**Objectives**
* List popular Languages used for Data Science
* List libraries used for Data Science
* Creating ordered and unordered  lists
* Creating tables
* Evaluating simple arithmetic expressions

## Author
Likitha Saravana